img.background {
	width: 100%;
	height: 100%;
}

.login_panel {
	border-radius: 7px;
	overflow: hidden;
	box-shadow: 0px 0px 32px #888888;
}

.base {
	background: rgba(255, 255, 255, 0.5);
	padding: 25px 0px 50px 0px;
	height: 100%;
}

.header {
	padding: 25px 0px;
	border-bottom: 2px solid #8a0917;
	background-color: white;
}

div.content {
	margin: auto;
	width: 300px;
}

div.social button {
	width: 100%;
	border-radius: initial;
	border-width: 0px;
}

div.social {
	padding-bottom: 10px;
}

.introduce {
	text-align: center;
}

.row_area.find {
	text-align: center;
	border-bottom: 2px solid gray;
}

.account_label {
	float: right;
	font-weight: bold;
	text-decoration: underline;
}

.social_login>.content {
	padding-top: 15px;
}

.find_password {
	color: gray;
}

.social_icon {
	float: left;
}

i {
	display: inline-block !important;
	width: 17px !important;
}

.social_icon .default_font {
	opacity: 0.5;
}

section#login {
	width: 600px;
	height: 700px;
	margin: auto;
}

input#user-email {
	box-sizing: border-box;
	margin-top: 30px;
	width: 100%;
	height: 60px;
	padding-left: 10px;
}

input#user-password {
	box-sizing: border-box;
	margin-top: 30px;
	width: 100%;
	height: 60px;
	padding-left: 10px;
}

section#login>h2 {
	padding-left: 10px;
	margin-top: 20px;
	font: 18px "맑은 고딕";
}

section#login>h2>a {
	color: red;
}

section#login>h3 {
	padding-left: 10px;
	margin-top: 10px;
	font: 18px "맑은 고딕";
}

section#login>h3>a {
	color: black;
	border-bottom: 1px solid black;
}

input[type="submit"] {
	margin-top: 20px;
	width: 100%;
	height: 80px;
	text-align: center;
	border: 1px #cfcfcf solid;
	box-sizing: border-box;
	font: bold 20px/80px "맑은 고딕";
	background: #b98dbe;
}

input[type="submit"] {
	display: block;
	height: 100%;
	color: white;
}

#checkbox_img {
	position: relative;
	margin-top: 20px;
	height: 20px;
	padding-left: 10px;
}

#checkbox_img>input#uji {
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	z-index: 5;
	opacity: 0;
}

#checkbox_img>input#uji:checked+i {
	background-position: bottom;
}

#checkbox_img>i {
	width: 20px;
	height: 20px;
	z-index: 3;
	float: left;
	display: block;
	background: url(../images/check.png) no-repeat left top;
}

i+label {
	float: left;
	padding-left: 5px;
	font: 15px "맑은 고딕";
}

.find {
	margin-top: 20px;
	width: 100%;
	border-top: 1px solid #c9c9c9;
}

.find>ul {
	width: 46%;
	height: 50px;
	margin: auto;
}

.find>ul>li {
	float: left;
	margin-right: 10px;
	font: 15px/50px "맑은 고딕";
}

.find>ul>li:last-child {
	margin-right: 0;
}

.find>ul>li>a {
	color: #474747;
}

.find>ul>li:hover>a {
	border-bottom: 1px solid #474747;
}