/**
 * 브라우저 전체 틀
 */
html#pins_page_html, body#pins_page_body {
	height: 100%;
	overflow: hidden;
	margin: 0px;
}

hidden {
	display: none;
}

::-webkit-scrollbar {
	display: none;
}

/**
 * 페이지 상단 바
 */
html#pins_page_html div#pins_page_head {
	position: relative;
	height: 10%;
	background-color: #00aef6;
	height: 10%;
}

/**
 * 페이지 본문
 */
html#pins_page_html div#pins_page_content {
	height: 90%;
	background-color: white;
	overflow: scroll;
}

/**
 * 페이지 상단 바의 타이틀 텍스트
 */
html#pins_page_html div#pins_page_head div#pins_page_title_wrap {
	display: flex;
	display: -webkit-flex;
	margin: auto;
	height: 100%;
	color: white;
}

html#pins_page_html div#pins_page_head div#pins_page_title_wrap p#pins_page_title_text
	{
	padding: 0 10%;
	max-width: 80%;
	text-align: center;
	margin: auto;
	font-size: 3.5vh;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

/**
 * 그룹 아이콘
 */
div.pins_icon_list_container {
	position: relative;
	width: 100%;
}

div.pins_icon {
	width: 32%;
	padding: 3%;
	display: inline-block;
}

div.pins_icon_image_wrap {
	position: relative;
	margin: 8%;
}

div.pins_icon_image_wrap:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

div.pins_icon_image_wrap img {
	position: absolute;
	height: 100%;
	max-width: 100%;
	min-width: 100%;
	margin: auto;
	border-radius: 50%;
	display: block;
}

div.pins_icon_name_wrap {
	margin-top: 2%;
}

p.pins_icon_name_text {
	text-align: center;
	width: 100%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	font-size: 4vw;
}

div.pins_icon_toggle_button {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	width: 30%;
	height: 30%;
	border-radius: 50%;
}

div#pins_page_back_page_wrap {
	text-align: left;
	position: absolute;
	height: 100%;
	white-space: nowrap;
	font-size: 0;
	position: absolute;
	left: 15px;
}

div#pins_page_back_page_dummy, div#pins_page_back_page_text {
	display: inline-block;
	vertical-align: middle;
}

div#pins_page_back_page_dummy {
	height: 100%
}

div#pins_page_back_page_text {
	font-size: 2.5vh;
	color: white;
}