body {
	background: #f5f6f7;
}

select::-ms-expand {
	display: none;
}

.field-title {
	display: block;
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
	margin-left: 10px;
}

section#login input {
	padding-left: 10px
}

section#login select {
	padding-left: 10px;
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
	appearance: none;
	background: url(../../images/select.png) no-repeat right 9px center
		white;
}

section#login {
	width: 600px;
	overflow: hidden;
	margin: auto;
}

#login>div {
	width: 100%;
	margin-top: 20px;
}

.form-control {
	box-sizing: border-box;
	height: 50px;
	border: 1px #cfcfcf solid;
}

.form-control.full-width {
	width: 100%;
}

#birthday-area {
	width: 100%;
	display: flex;
}

#birthday-area .day-box {
	flex: 20 0 20px;
}
#birthday-area .day-box-empty {
	flex: 1 0 20px;
}

.day-box .form-control {
	width: 100%;
}

#submit {
	margin-top: 30px;
	width: 100%;
	height: 60px;
	background: green;
	text-align: center;
	display: block;
	height: 100%;
	color: white;
	font: 20px/60px "ë§‘ì€ ê³ ë”•";
}